*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  border: thin dashed #777;
  flex: 0 0 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  ...;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ...;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ...;
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  ...;
}

/*  - - -  Practica con ejercicios anteriores - - - -  */
.container-old {
  background-color: #333;
  height: 30vh;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;

  justify-content: flex-start;

  align-items: stretch;

  align-content: flex-start;
}

.item-old {
  border: thin solid #999;
  /* width: 20%;
   height: 20%; */
  background-color: #666;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex-basis: 100px;
  flex: 0 1 auto;
}

.item-old:nth-child(1) {
  flex: 1 1 auto;
  background-color: #33f;
  /* flex-basis: 10rem; */
  align-self: center;
  padding: 0 2rem;
}

.item-old:nth-child(2) {
  flex-shrink: 5;
  background-color: #e32;
}
.item-old:nth-child(3) {
  background-color: #1f2;
}
.item-old:nth-child(4) {
  background-color: #fd0;
  order: -15;
}
.item-old:nth-child(5) {
  background-color: #89f;
  order: -5;
}

/*  .item-old:nth-child(2),
  .item:nth-child(17) {
   font-size: 250%;
  } */

@media (max-width: 600px) {
  .container-old {
    background-color: #773;
    height: 30vh;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;

    align-items: center;

    align-content: center;
  }
  .item-old:nth-child(1) {
    flex: 0 1 5rem;
    text-align: center;
    color: #fd9;
    background-color: #429;
    /* flex-basis: 10rem; */
    align-self: stretch;
  }
}
