*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #eee;
  overflow-x: hidden;
  background-color: #111;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.item {
  /* height: 2rem; */
  background-color: rgb(175, 175, 175);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-basis: 50px;
  flex: 1 1 50px;
}
.item:nth-child(1) {
  background-color: #ddb;
}
.item:nth-child(4) {
  background-color: rgb(159, 226, 238);
}
.item:nth-child(2) {
  background-color: #ddf;
  flex-grow: 2;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  color: #333;
  text-align: center;
  background-color: #333;
  height: 10vh;
  width: 100%;
  min-height: 50%;
  border-radius: 0 0 1rem 1rem;
}
.logo {
  margin: 1rem;
  align-self: flex-start;
}
main {
  max-width: 1400px;
  flex-grow: 1; /*  */
  margin: 0.5rem auto;
  background-color: #333;
  /* min-height: 80vh; */
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
}

article {
  margin: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 500px; */
}
article img {
  border-radius: 0.5rem;
  max-width: 20rem;
}
p {
  align-self: stretch;
}
.background-image {
  display: flex;
  flex-flow: column nowrap;
  background-position: 30% 30%;
  height: 75vh;
  width: 100%;
  background-image: url("https://placeimg.com/1400/720/tech");
  background-repeat: no-repeat;
}
.background-image div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}
.background-image h1 {
  padding: 1.5rem 1rem;
  background-color: rgba(155, 155, 155, 0.65);
  border-radius: 0.7rem;
}
.background-image h3 {
  display: flex;
  top: 14rem;
  left: 1rem;
  padding: 0.5rem 0.25rem;
  background-color: rgba(255, 34, 34, 0.75);
  color: #111;
}
footer {
  background-color: #252525;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}
/* Ordenar diferente el contenido según dispositivo. (texto imagen, texto imagen en mobil. Texto Imagen, Imagen texto en desktop)  */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  flex: 0 0 50%;
  margin: 0;
  padding: 1rem 1rem 0 1rem;
}
.flex-order-1 {
  order: 1;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

/* Flex Responsive */

.flex-responsive {
  display: flex;
  flex-flow: row wrap;
}
.flex-responsive-item {
  flex: 1 1 7rem;
  border: thin solid #cc3;
  margin: 0.1rem;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    z-index: 1;
    width: fit-content;
    align-items: flex-start;
  }
  .menu {
    flex-direction: column;
  }
  .item {
    background-color: rgb(175, 175, 175);
    flex: 0 1 auto;
  }
  .logo {
    margin: 1rem -1.5rem 1rem 1rem;
  }
  article img {
    border-radius: 0;
    max-width: 100%;
    height: auto;
  }
  .flex-container {
    display: block;
  }
  .flex-item {
    flex: 0 0 auto;
  }
}
